@font-face {
    font-family: 'Night';
    src: url("../assets/fonts/NightsideDemoRegular.ttf") format('truetype');
}


:root {
    --fundo-principal: #1a1a1a;
    --Sombra: #2e2e2e;
    --Azul-esverdeado: #7aa7a4;
    --azul-escverdeado-obscuro: #658a87;
    --Cinza-metálico: #5a5a5a;
    --Detalhe-ósseo: #b0a391;
    --Roxo-escuro: #4b2a58;
    --texto: #f0f0f0;
    --luz: #0e2d30;
}

/* Para navegadores baseados em WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 10px;
    /* Define a largura da barra de rolagem */
    background-color: var(--Cinza-metálico);
}

::-webkit-scrollbar-track {

    border-radius: 10px;
    /* Cantos arredondados da trilha */
}

::-webkit-scrollbar-thumb {
    background: var(--azul-escverdeado-obscuro);
    /* Cor do botão de rolagem */
    border-radius: 20px;
    /* Cantos arredondados */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: var(--azul-escverdeado-obscuro);
    /* Cor de fundo quando seleciona */
    color: black;
    /* Cor do texto selecionado */
}

a {
    all: unset;
    cursor: pointer;
}

body {
    background: linear-gradient(#000000, #3d3d4988), url("../assets/img/fundo_geral.png");
    background-size: 40vh;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

.body_after {
    overflow-y: visible;
}

#sair_icone {
    position: absolute;
    width: 4vw;
    top: 2vh;
    left: 2vh;
    transform: rotate(180deg);
    z-index: 20;
}

#home {
    background: url("../assets/img/fundo.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    backdrop-filter: blur(8px);
}

.nav-list1 {
    display: flex;
    gap: 2%;
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    padding-top: 10px;
    position: fixed;
    z-index: 2;
    width: 100%;
    color: var(--Cinza-metálico);
    text-transform: uppercase;
}

.nav-list1 p:hover {
    font-weight: 800;
    padding-bottom: 10px;
    color: white;
    border-bottom: solid 2px var(--Azul-esverdeado);
}

.nav-no-page {
    display: none;
}

#cadastro {
    border: solid 2px var(--Azul-esverdeado);
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

#cadastro:hover {
    background-color: var(--Azul-esverdeado);
    color: rgb(255, 255, 255);

}

#entrar {
    border: solid 2px var(--Azul-esverdeado);
    background-color: var(--Azul-esverdeado);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

#entrar:hover {
    background-color: var(--azul-escverdeado-obscuro);
}

.header-container {
    display: flex;
    justify-content: center;
    position: relative;
}

#home .column-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    font-size: 1.4rem;
    gap: 2.4rem;
    height: 100vh;
}

#home .column-2 {
    width: 40%;
}

.mongrel {
    height: 129vh;
    background: url("../assets/img/mongrel.png");
    background-size: cover;
    position: relative;
    bottom: 13.7vh;
    transition: 2s ease-in-out;
    z-index: -1;
}

.mongrel:hover {
    height: 129vh;

    position: relative;
    bottom: 13.7vh;
    background: url("../assets/img/sunny.png");
    background-size: cover;
}

.moving-head {
    animation: headMove 8s infinite alternate ease-in-out;
}

@keyframes headMove {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(1deg) scale(1.01);
    }

    100% {
        transform: rotate(-1deg) scale(1);
    }
}

#home .titulo {
    font-size: 5vw;
    font-family: 'Night';
}

#saber_mais {
    font-size: 2rem;
    text-transform: uppercase;
    background-color: rgba(56, 126, 126, 0);
    color: rgb(255, 255, 255);
    padding: 3vh 15vw;
    border: solid 4px white;
    border-image-slice: 1;
    border-width: 1px;
    border-left: none;
    border-right: none;
    border-image-source: linear-gradient(270deg, hsla(0, 0%, 100%, 0), #fff, hsla(0, 0%, 100%, 0));
    ;
}

#saber_mais:hover {
    padding: 3vh 18vw;
    border-width: 2.2px;
}



#logo_letra {
    font-size: 5vw;
    font-family: 'Night';

}

.logo_normal {
    font-size: 5vw;
    font-family: 'Night';
    position: absolute;
    z-index: 3;
    top: 25vh;
    left: 13vw;
    visibility: hidden;
}

.logo_encima {
    visibility: visible;
    top: 1vh;
    left: 1vw;
    font-size: 2.5rem;
    color: #5a5a5a;
}

#seta {
    margin-top: 30%;
    margin-left: 150%;
}

#sombras {
    color: var(--azul-escverdeado-obscuro);
}

#texto_sombras {
    font-size: 2.5rem;
}

.segunda-tela .texto {
    font-size: 1.7rem;
    padding-top: 14vh;
}

.segunda-tela #saber_mais {
    font-size: 1.4rem;
}

.segunda-tela #saber_mais:hover {
    padding: 3vh 14vw;
    border-width: 2.2px;
}

.mongrel_segunda_tela {
    height: 100vh;
    background: url("../assets/img/mongrel.png");
    background-size: cover;
    position: relative;
    top: 1vh;
    transition: 2s ease-in-out;
}


.mongrel_segunda_tela:hover {
    height: 100vh;
    background: url("../assets/img/sunny.png");
    background-size: cover;
}

.esconder {
    display: none;
}





/*--------------------desenvolvedor-----------------------------*/

.titulo-secao {
    text-align: center;
    font-size: 8vh;
    padding: 6vh 2vh;
    z-index: 1;
}

.titulo-secao::before {
    content: 'Desenvolvedor';
    color: #658a87;
    text-align: center;
    z-index: -1;
    position: absolute;
    transform: translate(-1vh, 0.4vh);
    filter: blur(2px);

}

#desenvolvedor {
    height: 83vh;
}

.container-desenvolvedor {
    display: flex;
    align-items: center;
    justify-content: center;

}

#eu {
    width: 50vh;
    position: relative;
    left: 40vh;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.658);
}

.container-desenvolvedor div {
    width: 50%;
}

.sobre-mim {
    position: relative;
    left: 10vh;
    font-size: 3vh;
    background-color: #2e2e2eb0;
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 4vh 4vh;
}

.sobre-mim #sub-titulo {
    text-align: center;
    padding: 2vh;
    color: var(--Azul-esverdeado);
    font-size: 3.5vh;
}













/*--------------------desenvolvedor acaba-----------------------------*/





/*----------------------------fotter------------------*/
footer {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
}

#logotipo-footer {
    width: 20vh;
    padding-top: 4vh;
}

footer .list {
    display: flex;
    font-size: 3vh;
    position: relative;
    top: 6vh;
    gap: 5vh;
}

footer .list div {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#f-info {
    text-align: center;
    font-size: 3vh;
    position: relative;
    top: 4.5vh;

}

.projeto {
    width: 35vh;
    text-align: justify;
    font-size: 3vh;
    position: relative;
    top: 4.5vh;

}

.contatos {
    font-size: 2.5vh;
    position: relative;
    top: 4.5vh;
}

.contato a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2vh;

}

#email_imagem {
    background: url("../assets/img/github.png");
    background-size: cover;
    min-height: 4vh;
    min-width: 4vh;
}

#github_imagem {
    background: url("../assets/img/github.png");
    background-size: cover;
    min-height: 4vh;
    min-width: 4vh;
}

#linkediin_imagem {
    background: url("../assets/img/Vector.png");
    background-size: cover;
    min-height: 4vh;
    min-width: 4vh;
}

#numero_imagem {
    background: url("../assets/img/logo-whatsapp.png");
    background-size: cover;
    min-height: 4vh;
    min-width: 4vh;
}

#instagram_imagem {
    background: url("../assets/img/logo-instagram.png");
    background-size: cover;
    min-height: 4vh;
    min-width: 4vh;
}

.verde:hover {
    color: var(--azul-escverdeado-obscuro);
}

.verde:hover #email_imagem {
    background: url("../assets/img/logo-instagram_verde.png") no-repeat;
}

.verde:hover #github_imagem {
    background: url("../assets/img/github_verder.png") no-repeat;
}

.verde:hover #linkediin_imagem {
    background: url("../assets/img/Vector_verde.png") no-repeat;
}

.verde:hover #numero_imagem {
    background: url("../assets/img/logo-whatsapp_verde.png") no-repeat;
}

.verde:hover #instagram_imagem {
    background: url("../assets/img/logo-instagram_verde.png") no-repeat;
}

/*----------------------------fotter----------acaba--------*/



















/*LOGIN E CADASTRO COMEÇA----------------------------------------------------------------------------------*/
.cadastro-login {
    background-color: #0e2d30;
    display: flex;
    width: 100%;
}

.imagem_fundo {
    background: url('../assets/imgs/orquideas-flower-flora-nature-orchid-tropical.jpg');
    height: 100vh;
    width: 50vw;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 10;
    transform: translateX(100%);
    transition: 1s cubic-bezier(.84, -0.36, .04, 1.13)
}

.column-login {
    background-color: rgb(255, 255, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-width: 50%;

}

.column-cadastro {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50%;

}

.card-login {
    background-color: rgba(255, 255, 255, 0.678);
    padding: 1% 3%;
    display: flex;
    flex-direction: column;
    gap: 1vh;

}

.column-login .card-login {
    background-color: rgb(255, 255, 255);
    color: #000000;


}

.card-login input,
.esqueci_senha input {
    width: 60vh;
    padding: 1% 5%;
    font-size: 1.3rem;
    background: none;
    border: none;
    outline: none;
    color: black;
    border-radius: 0.5rem;
    border-bottom: solid 4px var(--luz);
    z-index: 1;
    padding-left: 3.3vw;
    position: relative;
}

.card-login ::placeholder {
    color: #bebebe;
}

.card-login p {
    font-size: 1.4rem;
}

.card-login #titulo {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

.card-login #subtitulo {
    text-align: center;
    padding: 6% 0%;
}


.card-login button {
    background-color: #76278a;
    font-size: 1.3rem;
    color: white;
    padding: 2%;
    border-radius: 10px;
    margin-top: 4%;
}

.column-login button {
    background-color: #76278a;
}

#texto_nome_usuario,
#texto_senha,
#texto_email,
#texto_conf_senha,
#texto_nome_usuario_cad,
#texto_senha_cad {
    color: #747474;
}

.column-login input {
    border-bottom: solid 4px #747474;
    color: black;
}

.card-login div {
    display: flex;
    gap: 1vw;
    padding-left: 1vw;
    position: relative;
    top: 6vh;
    z-index: 1;
}



.card-login a {
    text-decoration: underline;
    color: var(--Azul-esverdeado);
}

.esqueci_senha {
    position: absolute;
    top: 27%;
    left: 35%;
    background-color: rgba(11, 21, 31, 0.918);

    padding: 2vh 5vh;
    font-size: 3vh;
    z-index: 2;
    border-radius: 2vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    box-shadow: 0 15px 50px var(--luz);
    padding-bottom: 6vh;

}

.imagem_logo {
    background-image: url("../assets/img/logotipo.png");
    background-size: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    height: 15vh;
    position: relative;
    bottom: 5vh;
}

#placeholder {
    display: flex;
    gap: 2vh;
    align-items: center;
    color: #7c7c7c;
    position: relative;
    top: 7.2vh;
    left: 4vh;
    transition: 0.2s ease-in-out;
    z-index: -1;

}

input:focus {
    background: linear-gradient(360deg, #ea00ff83 -120.05%, rgba(190, 122, 76, 0) 64.29%);
  
}

.column-login input:focus {
    background: linear-gradient(360deg, #ea00ff85 -120.05%, rgba(190, 122, 76, 0) 64.29%);
}


/*LOGIN E CADASTRO ACABA----------------------------------------------------------------------------------*/

/*alertas--------------------------------*/
#div_alerta {
    background-color: #682f83;
    width: 30vw;
    height: 50vh;
    position: absolute;
    top: 25vh;
    left: 35vw;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 3vh;
    align-items: center;
    box-shadow: 0 15px 50px var(--luz);

}

#sunny_chibi {
    width: 15vw;
    position: absolute;
    top: -8vh;
}

#div_alerta button {
    width: 90%;
    font-size: 2.4vh;
    padding: 0.6vh;
    border-radius: 10px;
    margin-bottom: 5vh;
}

#div_alerta button:hover {
    background-color: #5a5a5a;
    color: white;
}

#titulo_erro {
    font-size: 2rem;
    text-align: center;
}

#mensagem_erro {
    font-size: 1rem;
    width: 90%;
    text-align: center;

}



#div_cad_sucesso {
    background-color: #682f83;
    width: 30vw;
    height: 50vh;
    position: absolute;
    top: 25vh;
    left: 35vw;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 3vh;
    align-items: center;
    box-shadow: 0 15px 50px var(--luz);

}

#sunny_cad {
    width: 17vw;
    position: relative;
}

#bottom_mensagem_cad {
    width: 90%;
    font-size: 2.4vh;
    padding: 0.6vh;
    border-radius: 10px;
    margin-bottom: 5vh;
    text-align: center;
    color: rgb(0, 0, 0);
    z-index: 10;
    font-weight: 800;
}

#titulo_cad {
    font-size: 2rem;
    text-align: center;
}

#bottom_mensagem_cad::after {
    content: '';
    display: block;
    background-color: white;
    width: 90%;
    height: 8%;
    position: absolute;
    top: 41vh;
    animation: esperar 2s ease;
    z-index: -1;

}

@keyframes esperar {
    0% {
        width: 1%;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    90% {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    100% {
        width: 90%;
    }
}



#mensagem_cad {
    font-size: 1rem;
    width: 90%;
    text-align: center;

}

/*alertas--------------------------------*/


#icone_inicial {
    width: 3vw;
    position: absolute;
    right: 2vw;
    top: 2vh;
    z-index: 3;
}

#conv_esquerda {
    position: absolute;
    color: black;
    bottom: 1vh;
    letter-spacing: 2px;
    font-size: 1.5rem;
    left: 2vw;
}

#conv_esquerda:hover {
    color: #7aa7a4;
}

#conv_direita {
    position: absolute;
    color: #0e2d30;
    bottom: 1vh;
    letter-spacing: 2px;
    right: 2vw;
    font-size: 1.5rem;
}

#conv_direita:hover {
    color: #ffffff;
}

#icone_senha_cad,
#icone_senha_cad_conf, 
#icone_senha_log {
    cursor: pointer;
    width: 1px;
    z-index: 4;
    position: relative;
    transform: scale(28.0);
    bottom: 5vh;
    justify-self: flex-end;
    align-self: flex-end;
    right: 1.1vw;
}

#recomendacao_senha {
    display: flex;
    gap: 2vw;
    left: 1vw;
    color: #1D1D1D;
    color: var(--Cinza-metálico);
    font-size: 1.1rem;
    top: 0;
}